.team-summary {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100%; 

  .team-image {
    height: 75px;
    width: 75px;
    margin-right: 15px;
    border-radius: 10px;
    overflow: hidden;

    img {
      width: 75px;
    }
  }

  .team-meta {
    flex: 1;

    h2 {
      margin: 0;
      font-size: 22px;
      font-weight: normal;
      margin-bottom: .2rem;
    }

    p {
      color: $black;
      text-transform: uppercase;
      margin: 0;
      font-size: 12px;
      font-weight: 500;
      line-height: 1.75;
    }
  }

  .team-content {
    margin-top: 0;
    flex: 1 0 100%;

    p {
      margin: 0;
    }
  }
}

.team-summary-large {
  background-color: $white-offset;
  background-image: $wave-pattern;
  background-repeat: repeat;
  padding: 30px;
  border-radius: 3px;

  .team-image {
    height: 90px;
    width: 90px;
    margin-right: 20px;
    border-radius: 10px;
    overflow: hidden;

    img {
      width: 90px;
    }
  }
}