<div class="brand icons">
  <div class="row">
    <div class="col">
      <img src="/images/icons/heart.svg" width="100" />
    </div>
    <div class="col">
      <img src="/images/brand/icon.svg" width="100" />
    </div>
    <div class="col">
      <img src="/images/icons/rocket.svg" width="100" />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img src="/images/icons/advising.svg" width="100" />
    </div>
    <div class="col">
      <img src="/images/icons/camera.svg" width="100" />
    </div>
    <div class="col">
      <img src="/images/icons/chat.svg" width="100" />
    </div>
    <div class="col">
      <img src="/images/icons/check.svg" width="100" />
    </div>
    <div class="col">
      <img src="/images/icons/donate.svg" width="100" />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img src="/images/icons/events.svg" width="100" />
    </div>
    <div class="col">
      <img src="/images/icons/travel.svg" width="100" />
    </div>
    <div class="col">
      <img src="/images/icons/sad.svg" width="100" />
    </div>
    <div class="col">
      <img src="/images/icons/legal.svg" width="100" />
    </div>
    <div class="col">
      <img src="/images/icons/lock.svg" width="100" />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img src="/images/icons/loop.svg" width="100" />
    </div>
    <div class="col">
      <img src="/images/icons/magnifier.svg" width="100" />
    </div>
    <div class="col">
      <img src="/images/icons/party.svg" width="100" />
    </div>
    <div class="col">
      <img src="/images/icons/research.svg" width="100" />
    </div>
    <div class="col">
      <img src="/images/icons/write.svg" width="100" />
    </div>
  </div>
</div>