{{ define "body_classes" }}page-default-single{{ end }}

{{ define "main" }}
<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
    
    <div class="col-12 col-md-4 order-md-2">
      <img loading="lazy" src="{{ .Params.image }}" class="team-image img-fluid" />
    </div>
    <div class="col-12 col-md-8 order-md-1">
      <h1 class="title">{{.Title}}</h1>
      
      <div class="content">
        <h2>{{ .Params.jobtitle }}</h2>

        {{.Content}}
        
          <h3>School</h3><p><strong>{{ .Params.school }}</strong><br />Class of 20{{ .Params.class }}</p>
          <h3>Email</h3><p><a href="mailto:{{ .Params.email }}">{{ .Params.email }}</a></p>
          {{ if .Params.linkedinurl }}
          <h3>LinkedIn</h3><p><a href="{{ .Params.linkedinurl }}">{{ .Params.linkedinurl }}</a></p>
          {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}