.announcement {
  position: relative;
  overflow-wrap: normal;
  background-color: $white-offset;
  border-radius: 4px;
  // box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  width: 100%;
  align-items: center;
  z-index: 2;
  margin-bottom: 1rem;

  &.danger {
    background-color: $highlight-offset;
  }


  @include media-breakpoint-up(sm) {
    align-items: center;
  }

  .announcement-box-top {
    padding: 20px;
    line-height: 1.75;

    h1,h2,h3,h4,h5 {
      margin-top: 0;
    }

    @include media-breakpoint-up(md) {
    }
  }

  .announcement-box-bottom {
    padding: 0 20px 20px;

    @include media-breakpoint-up(sm) {
      border: none;
    }
  }

  strong {
    font-weight: bold;
  }

  svg {
    fill: lighten($secondary, 40%);
    position: absolute;
    bottom: -9px;
    right: 0;
    width: 100px;
    height: 100px;

    @include media-breakpoint-up(sm) {
      width: 120px;
      height: 120px;
    }
  }
}
