.button {
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  //box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background: $primary;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #fff;
  text-decoration: none !important;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  font-family: $font-family-heading;

  &:not(:first-of-type) {
    margin-left: 5px;
  }

  @include media-breakpoint-down(md) {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &:hover {
    color: #fff;
    background-color: lighten($primary, 10%);
    transform: translateY(-1px);
    //box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    text-decoration: none;
  }

  &.cta {
    text-decoration: none;
    font-size: 16px;
  }

  &.outline {
    color: $primary;
    background-color: $white;
    -webkit-box-shadow:inset 0px 0px 0px 2px $primary;
    -moz-box-shadow:inset 0px 0px 0px 2px $primary;
    box-shadow:inset 0px 0px 0px 2px $primary;

    &:hover {
      color: lighten($primary, 10%);
      -webkit-box-shadow:inset 0px 0px 0px 2px lighten($primary, 10%);
      -moz-box-shadow:inset 0px 0px 0px 2px lighten($primary, 10%);
      box-shadow:inset 0px 0px 0px 2px lighten($primary, 10%);
      background-color: $white;
    }
  }

  &.secondary {
    background-color: $secondary;
  }

  &.disabled {
    pointer-events: none;
    filter: grayscale(1);
  }
}
