div.climate {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #5c5a5a;
  padding: 10px;
  background-color: #f6f7ff;
  background-image: $wave-pattern;
  background-repeat: repeat;
  border-radius: 10px;
  margin-top: 1.5rem;
  margin-bottom: 1rem;

  svg.badge {
    margin-right: 10px;
  }

  p {
    font-size: 13px;
    margin-bottom: 0;
  }
}
