.content {
  color: $black;

  a {
    text-decoration: underline;
  }

  img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .image {
    margin-bottom: 10px;

    img {
      margin-bottom: 10px;
    }

    .image-caption {
      color: $hint;
      text-align: center;
      font-size: 0.8rem;
    }
  }

  strong {
    font-width: bold;
  }

  em {
    font-style: italic;
  }

  p {
    font-family: $font-family-base;
    color: $steel;
    line-height: 1.75;
    font-size: 1.2rem;
  }

  h1 {
    font-size: 34px;
    line-height: 1.26;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 26px;
    line-height: 1.4;
    margin-top: 30px;
  }

  h3 {
    font-size: 20px;
    line-height: 1.4;
    margin-top: 30px;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 600;
    font-family: $font-family-heading;
  }

  ul,
  ol {
    margin-bottom: 20px;

    ul,
    ol {
      margin-bottom: 0;
    }
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  li {
    margin-bottom: 5px;
    line-height: 1.75;
    font-size: 1.2rem;
    margin-left: 20px;
    color: $steel;
  }

  hr {
    border: none;
    border-bottom: 1px solid $white-offset;
  }

  table {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;

    th,
    td {
      padding: 5px;
      vertical-align: top;
      border-top: 1px solid $white-offset;
      vertical-align: middle;

      &:first-child {
        padding-left: 1rem;
      }
      
      &:last-child {
        padding-right: .5rem;
      }
    }

    thead {
      background-color: rgba(38, 109, 211, 0.1);

      tr {
        border-radius: 10px;
        th {
          vertical-align: middle;
          border-bottom: 1px solid $white-offset;
          text-align: left;
          font-weight: bold;
          font-family: $font-family-heading;

          &:first-child {
            border-radius: 5px 0 0 5px;
          }

          &:last-child {
            border-radius: 0 5px 5px 0;
          }
        }
      }
    }

    tbody + tbody {
      border-top: 1px solid $white-offset;
    }

    tr {
      height: 3rem;
    }
  }

  blockquote {
    padding: 0 1em;
    color: $steel;
    border-left: 0.25em solid $secondary;
  }
}
