.donationContainer {
  margin-bottom: 1rem;

  .input-group.donate {
    .input-group-prepend {
      .input-group-text {
        color: $primary;
        font-family: $font-family-heading;
        font-size: 5rem;
        background-color: transparent;
        border: none;

        transition: all 0.2s ease;

        &.danger {
          color: $danger;
          opacity: 0.8;
        }
      }
    }

    input {
      border: none;
      color: $primary;
      font-family: $font-family-heading;
      font-size: 5rem;
      appearance: textfield;
      opacity: 1;
      transition: all 0.2s ease;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &::placeholder {
        color: $primary;
        opacity: 0.5;
      }

      &:focus,
      &:active {
        border: none;
        box-shadow: none;
      }

      &.danger {
        color: $danger;
        opacity: 0.8;
      }
    }
  }

  .button#donateButton,
  .button#coverFee {
    margin-right: 1rem;

    .spinner-border-sm {
      margin-bottom: 3px;
    }
  }

  p.legal {
    font-size: 0.8rem;
    font-style: italic;
    line-height: 1.5;
    color: $steel;
  }

  .check {
    p {
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }

    .address {
      line-height: 1.5;
      font-weight: bold;
      margin-left: 2rem;
    }
  }
}

img.signature {
  margin-right: 2rem;
  filter: grayscale(1);

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;

  &.megan {
    height: 8rem;
  }

  &.mingjie {
    height: 5.5rem;
  }
}
