.intro {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  overflow: hidden;

  @include media-breakpoint-up(md) {
    padding-top: 140px;
    padding-bottom: 140px;
  }

  h1 {
    color: $primary;
    font-size: 42px;
    line-height: 1.2;

    @include media-breakpoint-up(md) {
      font-size: 48px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 55px;
    }
  }

  h2 {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 30px;
    color: #777777;
    font-family: $font-family-base;
    font-weight: normal;

    .redacted {
      background-color: $white-offset;
      color: transparent;
      display: inline-block;
      border-radius: 5px;
      width: 13ch;
      height: 25px;
      vertical-align: baseline;
      margin-bottom: -5px;
    }

    a {
      font-weight: 600;
    }
  }

  p {
    font-size: 1.2rem;
    font-weight: light;
    line-height: 1.8;
    color: $steel;
  }
}

.intro-small {
  padding-top: 100px;
  padding-bottom: 30px;
}
