.program-sidenav {
    background-color: $white-offset;
    background-image: $wave-pattern;
    background-repeat: repeat;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 10px;

    h3 {
        font-family: $font-family-heading;
    }

    .nav {
        .nav-link {
            padding-left: 0;

            &.active {
                font-weight: bold;
            }
        }
    }
}