.tags {
    span.tag {
        padding: 0.5em 0.8em;
        font-family: $font-family-heading;
        text-transform: uppercase;
        margin-bottom: .5rem;
        background-color:#2F2F41;
    }
}