.title {
  color: $black;
  font-size: 48px;
  line-height: 1.2;

  @include media-breakpoint-up(lg) {
    font-size: 50px;
  }
}

.brand-title {
  margin: 0;

  &.footer-title {
    color: #fff;
  }

  &.header-title {
    color: $primary;
    text-decoration: none;
  }

  font-size: 1.3rem;
  font-family: $font-family-heading;
  font-weight: bold;
}
