{{ define "body_classes" }}page-subscribe-list{{ end }}
{{ define "main" }}
<div class="intro mt-2 mb-4">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-8">
        <img src="{{.Params.icon}}" class="page-icon" width="128" height="128" />
        <h1 class="title">{{ .Title }}</h1>
      </div>
    </div>
    <div class="row justify-content-start">
      <div class="col-12 col-md-8">
        {{ .Content }}
      </div>
    </div>
  </div>
</div>
{{ end }}