.brand {
  &.colors {
    div div {
      width: 100%;
      height: 8rem;
      color: #fff;
      text-align: center;
      margin-bottom: 1rem;
      border-radius: 5px;

      &::selection {
        background-color: #fff;
      }

      &.color.primary {
        background-color: $primary;
      }

      &.color.secondary {
        background-color: $secondary;
      }

      &.color.dark {
        background-color: $dark;
      }
    }
  }

  &.logos {
    img {
      border-radius: 10px;
    }
  }

  &.typography {
    flex-direction: column;
  }

  &.icons {
    .row {
      .col {
        text-align: center;
      }
    }
  }
}
