.page-donate {
  .title {
    color: $primary;
  }

  .donation-stats {
    padding: .2rem 1.5rem;
    background-color: $white-offset;
    background-image: $wave-pattern;
    background-repeat: repeat;
    border-radius: 10px;

    h1 {
        font-size: 1.75rem;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1rem;
    }

    .stat-set {
      margin-bottom: 1.5rem;

      p {
        font-family: $font-family-heading;
        color: $dark;
        font-size: 1.2rem;
        margin-bottom: 0;
        line-height: 1.35;
      }

      p.value {
        color: $primary;
        font-size: 3rem;
      }
    }
  }
}
