.page-home {
  .intro {
    h1 {
      em {
        font-style: normal;
        border-radius: 8px;
        background-color: $white-offset;
        background-image: $wave-pattern;
        background-repeat: repeat;
      }
    }
  }

  .video-caption {
    margin-top: 3px;
    font-size: 0.8rem;
    font-style: italic;
    color: $hint;
    text-align: right;
  }

  .home-video {
    background: none !important;
    -webkit-user-select: none !important;
    user-select: none !important;
    pointer-events: none !important;
    overflow: hidden;

    iframe {
      border-radius: 10px;
      width: 100%;
    }
  }

  .journal {
    p.metadata {
      font-family: $font-family-heading;
      font-size: 16px;
      line-height: 1.4;
      margin-bottom: 0.5rem;
      color: $black;

      @include media-breakpoint-up(md) {
        font-size: 18px;
      }
    }

    h2 {
      @include media-breakpoint-down(md) {
        font-size: 24px;
        margin-bottom: 10px;
      }
    }

    p {
      margin-bottom: 0;
    }
  }
}
