.page-home {
  .journal {
    p.metadata {
      font-family: $font-family-heading;
      font-size: 16px;
      line-height: 1.4;
      margin-bottom: 0.5rem;
      color: $black;

      @include media-breakpoint-up(md) {
        font-size: 18px;
      }
    }

    h2 {
      @include media-breakpoint-down(md) {
        font-size: 24px;
        margin-bottom: 10px;
      }
    }

    p {
      margin-bottom: 0;
    }
  }
}
