{{ $currentPage := . }}
<div class="footer">
  <div class="container">
    <div class="footer-inner">
      <div class="row">
        <div class="col-6 col-md-3">
          <ul>
            <li class="footer-title">
              {{ .Site.Title }}
            </li>
            {{ range .Site.Menus.about }}
            <li class="menu-item-{{ .Name | lower }}{{ if eq $currentPage.RelPermalink .URL }} active{{ end }}">
              <a href="{{.URL}}">
                {{ .Name }}
              </a>
            </li>
            {{end}}
          </ul>
        </div>
        <div class="col-6 col-md-3">
          <ul>
            <li class="footer-title">
              Programs
            </li>
            {{ $programs := where (where .Site.Pages "Type" "programs") ".Params.layout" "single" }}
            {{ range (sort $programs ".Params.weight") }}
            <li class="menu-item-{{ .Title | lower }}{{ if eq $currentPage.RelPermalink .URL }} active{{ end }}">
              <a href="{{.URL}}">
                {{ .Title }}
              </a>
            </li>
            {{end}}
          </ul>
        </div>
        <div class="col-6 col-md-3">
          <ul>
            <li class="footer-title">
              Resources
            </li>
            {{ range .Site.Menus.resources }}
            <li class="menu-item-{{ .Name | lower }}{{ if eq $currentPage.RelPermalink .URL }} active{{ end }}">
              <a href="{{.URL}}">
                {{ .Name }}
              </a>
            </li>
            {{end}}
          </ul>
        </div>
        <div class="col-md-3">
          <a href="https://flappy.executebig.org/" target="_blank" rel="noopener">
            <img src="/images/brand/icon.svg" class="footer-steak" alt="Execute Big Pig Mascot">
          </a>
        </div>
      </div>
      <p class="footer-copyright mb-0 mt-1">&copy; 2021 Execute Big, a 501(c)(3) non-profit (EIN 85-2160468).</p>
    </div>
  </div>
</div>