<script type="application/ld+json">
  {
    "@context": "http://www.schema.org",
    "@type": "Organization",
    "name": "Execute Big",
    "url": "https://executebig.org",
    "logo": "https://executebig.org/images/brand/dark-text.png",
    "sameAs": [
    "https://twitter.com/executebig",
    "https://github.com/executebig",
    "https://www.instagram.com/executebig",
    "https://www.facebook.com/executebig",
    "https://www.youtube.com/channel/UCkty_DrIUFfp7lBpCJS49nQ"
  ],
    "image": "https://executebig.org/images/features/sf.jpg",
    "description": "A minimal & transparent student-run organization founded to enable all students to experience and explore computer science education.",
    "address": {
      "@type": "PostalAddress",
      "postOfficeBoxNumber": "10472",
      "addressLocality": "Rockville",
      "addressRegion": "Maryland",
      "postalCode": "20849",
      "addressCountry": "United States"
    },
    "contactPoint": {
      "@type": "ContactPoint",
      "email": "team@executebig.org",
      "telephone": "+1(240)222-5244",
      "url": "https://executebig.org"
    }
  }
</script>