<script type="application/ld+json">
  {
    "@context": "http://www.schema.org",
    "@type": "Organization",
    "name": "Execute Big",
    "url": "https://executebig.org",
    "logo": "https://executebig.org/images/logo.svg",
    "image": "https://executebig.org/images/features/sf.jpg",
    "description": "A minimal & transparent student-run organization founded to enable all students to experience and explore computer science education.",
    "address": {
      "@type": "PostalAddress",
      "postOfficeBoxNumber": "10472",
      "addressLocality": "Rockville",
      "addressRegion": "Maryland",
      "postalCode": "20849",
      "addressCountry": "United States"
    },
    "contactPoint": {
      "@type": "ContactPoint",
      "telephone": "+1(240)222-5244"
    }
  }
</script>
