<!--https://github.com/typekit/webfontloader-->
<script type="text/javascript">
  WebFontConfig = {
    active: function () {
      sessionStorage.setItem('fonts', true);
    },
    google: { families: ["Inter", "Nunito:900"] },
  };
  (function () {
    var wf = document.createElement("script");
    wf.src = "https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js";
    wf.type = "text/javascript";
    wf.async = "true";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(wf, s);
  })();
</script>
