{{ define "body_classes" }}page-404{{ end }}

{{ define "main" }}
<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8">
      <div class="service service-single">
        <img src="/images/icons/sad.svg" class="page-icon" width="128" height="128" />
        <h1 class="title">404: Not Found</h1>
        <div class="content mt-4">
          <p>We couldn't really find that page. Please try again, or try to find what you're looking for by searching.</p>
          <br />
          <a href="/" class="button cta">Go Home »</a>
        </div>
      </div>
    </div>
  </div>
</div>

{{ end }}