{{ define "title" }}{{ .Site.Title }}: Accessible CS exploration programs for all{{ end}}
{{ define "body_classes" }}page-home{{ end }}
{{ define "meta_tags" }}
<meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_description }}" />
<meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
<meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
<meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
<meta property="og:image" content="{{if not .IsHome}}https://og.executebig.org/{{ safeURL (plainify .Title) }}?theme=light&fontSize=120px{{else}}https://og.executebig.org/{{ safeURL (plainify .Site.Title) }}?theme=dark&fontSize=200px{{ end }}" />
<meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
<meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
<meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
<meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
{{ end }}
{{ define "main" }}
<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-1">
        {{ .Content }}
      </div>
      {{ if .Params.intro_image }}
      <div class="col-12 col-md-5 col-lg-6 order-2 position-relative">
        <script src="https://fast.wistia.com/embed/medias/e6ad1ph5ud.jsonp" async></script>
        <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
        <div class="home-video wistia_responsive_padding" style="padding:50% 0 0 0;position:relative;">
          <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
            <div class="wistia_embed wistia_async_e6ad1ph5ud seo=false videoFoam=true autoPlay=true muted=true" style="height:100%;position:relative;width:100%">
              <div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/e6ad1ph5ud/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div>
            </div>
          </div>
        </div>
        <p class="video-caption"><a href="https://www.youtube.com/watch?v=c7nxPJwGcts" target="_blank" rel="noopener">Video recap</a> from <a href="/transparency/chicago/">Hack Chicago</a>, the event that started the vision behind Execute Big.</p>
      </div>
      {{ end }}
    </div>
  </div>
</div>
{{ $programs := where (where .Site.Pages "Type" "programs") ".Params.layout" "single" }}
{{if gt (len $programs) 0}}
<div class="strip">
  <div class="container pt-6 pb-6 pb-md-10">
    <div class="row">
      <div class="col-12">
        <h1 style="font-size: 2.5rem;" class="mb-4">Our Programs</h1>
      </div>
    </div>
    <div class="row justify-content-start">
      {{ range first 4 (sort $programs ".Params.weight") }}
      {{ if not .Params.private }}
      <div class="col-12 col-md-6 mb-3">
        {{ .Render "summary" }}
      </div>
      {{ else }}
      {{ if .Params.pilot }}
      <div class="col-12 col-md-6 mb-3">
        <div class="service service-summary">
          <div class="service-content">
            <h2 class="service-title piloting">
              Coming Soon <span class="badge badge-warning" style="font-size: .9rem; vertical-align: middle;">Invite-Only Pilot</span>
            </h2>
            <p>We're hard at work planning something new. Interested in getting a preview and sharing some thoughts? <a href="/contact">Contact us</a>, and we'd love to chat with you!</p>
          </div>
        </div>
      </div>
      {{ end }}
      {{ end }}
      {{ end }}
    </div>
  </div>
</div>
{{end}}
<div class="strip strip-grey journal">
  <div class="container pt-6 pb-6">
    {{ range first 1 (where (where .Site.RegularPages "Type" "journals") ".Params.featured" "=" true) }}
    <p class="metadata">Published {{dateFormat "Jan 2, 2006" .Params.date}} by {{ .Params.author }}</p>
    <div class="row justify-content-start">
      <div class="col-12">
        <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        <p>{{ .Description | default .Content | plainify | htmlUnescape | truncate 240 "…" }}</p>
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}
{{ define "footer_js" }}
{{ end }}