{{ define "title" }}{{ .Site.Title }}: Exciting CS exploration programs{{ end}}
{{ define "body_classes" }}page-home{{ end }}
{{ define "meta_tags" }}
<meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_description }}" />
<meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
<meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
<meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
<meta property="og:image" content="{{if not .IsHome}}https://og.executebig.org/{{ safeURL (plainify .Title) }}?theme=light&fontSize=120px{{else}}https://og.executebig.org/{{ safeURL (plainify .Site.Title) }}?theme=dark&fontSize=200px{{ end }}" />
<meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
<meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
<meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
<meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
{{ end }}
{{ define "main" }}
<div class="intro">
  <div class="container">
    <div class="" style="text-align: center; background-color: white;">
        {{ .Content }}
    </div>
  </div>
</div>
{{ $programs := where (where .Site.Pages "Type" "programs") ".Params.layout" "single" }}
{{if gt (len $programs) 0}}
<div class="strip">
  <div class="container pt-6 pb-6 pb-md-10">
    <div class="row">
      <div class="col-12">
        <h1 style="font-size: 2.5rem;" class="mb-4">Our Programs</h1>
      </div>
    </div>
    <div class="row justify-content-start">
      <div class="col-12 mb-5">
        <a href="https://techroulette.xyz/?utm_source=EB_programs" style="text-decoration: none;">
          <div class="service service-summary" style="border: 3px solid #4772FF; padding: 1rem; border-radius:.5rem; 
          box-shadow: 0 0.5em 1em -0.125em rgb(34 34 59 / 10%), 0 0px 0 1px rgb(34 34 59 / 2%);">
            <div class="service-content">
              <h2 class="service-title" style="color: #FF6978">
                Tech Roulette&nbsp;<span class="badge badge-primary" style="font-size: .9rem; vertical-align: middle;">New!</span>
              </h2>
              <p style="margin: 0">Take a leap into fields of technology through a variety of random intro projects while earning rewards and prizes — all within your free time!</p>
            </div>
          </div>        
        </a>
      </div>
      {{ range first 4 (sort $programs ".Params.weight") }}
      {{ if not .Params.private }}
      <div class="col-12 col-md-6 mb-3">
        {{ .Render "summary" }}
      </div>
      {{ else }}
      {{ if .Params.pilot }}
      <div class="col-12 col-md-6 mb-3">
        <div class="service service-summary">
          <div class="service-content">
            <h2 class="service-title piloting">
              Coming Soon <span class="badge badge-warning" style="font-size: .9rem; vertical-align: middle;">Invite-Only Pilot</span>
            </h2>
            <p>We're hard at work planning something new. Interested in getting a preview and sharing some thoughts? <a href="/contact">Contact us</a>, and we'd love to chat with you!</p>
          </div>
        </div>
      </div>
      {{ end }}
      {{ end }}
      {{ end }}
    </div>
  </div>
</div>
{{end}}
<!-- <div class="strip strip-grey journal">
  <div class="container pt-6 pb-6">
    {{ range first 1 (where (where .Site.RegularPages "Type" "journals") ".Params.featured" "=" true) }}
    <p class="metadata">Published {{dateFormat "Jan 2, 2006" .Params.date}} by {{ .Params.author }}</p>
    <div class="row justify-content-start">
      <div class="col-12">
        <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        <p>{{ .Description | default .Content | plainify | htmlUnescape | truncate 240 "…" }}</p>
      </div>
    </div>
    {{ end }}
  </div>
</div> -->
{{ end }}
{{ define "footer_js" }}
{{ end }}
