
<div class="intro-sponsors">
    <span>Supported by</span>
    <img src="/images/sponsors/rv0-inline.png" class="logo">
    <a href="https://www.producthunt.com/posts/tech-roulette?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-tech-roulette" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=298513&theme=light" alt="Tech Roulette - Explore your future in a bold world of tech this summer! | Product Hunt" style="height: 40px;" width="250" height="40" /></a>
    
</div>
