<div class="donationContainer">
  <div class="input-group donate mb-1">
    <div class="input-group-prepend">
      <span class="input-group-text" id="dollarSign">$</span>
    </div>
    <input
      type="number"
      class="form-control"
      id="amount"
      placeholder="0.00"
      step="0.01"
      autofocus
    />
  </div>

  <button class="button cta disabled" id="donateButton">
    Donate $<span id="total">0.00</span>
  </button>
  <button class="button cta disabled" id="coverFee">
    Cover Fee: +$<span id="fee">0.00</span>
  </button>
</div>

<script src="https://js.stripe.com/v3/"></script>
<script async>
  const stripe = Stripe(
    "{{ if .Site.IsServer }}{{ .Site.Params.stripe.testKey }}{{ else }}{{ .Site.Params.stripe.pubKey }}{{ end }}"
  );
</script>

{{ $donateScript := resources.Get "js/pages/donate.js" | fingerprint }}
<script src="{{ ($donateScript | minify | fingerprint).RelPermalink }}" defer></script>
