<h1 id="intro-title">
    1000+ students. 8 Weeks.<br />
    80+ random modules to choose from. <br />
    Explore the best of CS at <em>Tech Roulette</em>.
</h1>
<h2 id="intro-subtitle">Execute Big is the nonprofit behind
    <a href="https://techroulette.xyz/?utm_source=EB_takeover">Tech Roulette</a>,
    <a href="/fellowship">Fellowship</a>,
    <a href="/events">Events</a>,
    and other creative, impactful, and transparent technology exploration programs & games. {{ if ($.Get "signup" | default true) }}<strong>Sign up to be notified of new programs and opportunities!</strong>{{ end }}
</h2>
