<h1>
    Exciting <em>programs & grants</em> to help you experience & explore computer science.
</h1>
<h2 id="intro-subtitle">Execute Big is the nonprofit behind
    <a href="https://techroulette.xyz/?utm_source=EB_takeover">Tech Roulette</a>,
    <a href="/fellowship">Fellowship</a>,
    <a href="/events">Events</a>,
    and other creative, impactful, and transparent technology exploration programs. {{ if ($.Get "signup" | default true) }}<strong>Sign up to be notified of new programs and opportunities!</strong>{{ end }}
</h2>
